//Primary colors

$primaryTextColor: #323232; //Black
$primaryActiveColor: #0095ff; //lighter blue CTA active form
$secondaryTextColor: #afafaf; //silver text, text label
$primaryLightColor: #ffffff; //white background CTA

//Secondary colors
$videoColor: #000000; //dark black video player
$hoverColor: #0065ad; //dark blue CTA hover
$linesColor: #e1e1e1; //mercury divider, outline
$formColor: #fafafa; // alabaster form background
