@use "./colors" as c;
@use "./mixins" as m;

* {
  box-sizing: border-box;
  font-family: "avenir", sans-serif;
}
@font-face {
  font-family: 'Handlee';
  font-style: normal;
  font-weight: 400;
  src: url('../../assets/fonts/Handlee/Handlee-Regular.ttf') format('truetype');
}

