@use "../../styles/partials/mixins" as *;

.logout{
    display: flex;
    justify-content: center;
    align-items: center;
    @include tablet-plus{
        margin-right: 1rem;
    }
    &-avatar-box{
        border-radius: 50%;
        background-color: bisque;
        overflow: hidden;
        width:40px;
        display: flex;
        justify-content: center;
        align-items: center;
     
    }
    a{
        text-decoration: none; 
        font-weight: bold;     
        color: gray;   
    }
}