@use "../../styles/partials/typography" as t;
@use "../../styles/partials/colors" as c;
@use "../../styles/partials/mixins" as m;

.story-depot {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__genre-filter {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    @include m.mobile {
      max-width: 300px;
    }
    button {
      padding: 5px 15px;
      border: none;
      border-radius: 3px;
      cursor: pointer;
      transition: background-color 0.3s;

      &.active {
        background-color: #007bff;
        color: white;
      }

      &:hover {
        background-color: #c4d351;
      }
    }
  }

  img {
    width: 1.875rem;
    height: 1.875rem;
  }

  &__heading {
    h2 {
      font-size: 24px;
      margin-bottom: 5px;
      font-family: inherit;
    }

    p {
      font-size: 14px;
      color: #888;
      font-family: inherit;
    }
  }

  &__stories {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding: 1rem;
    &--description {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: black;
      font-size: 1rem;
          max-width: 18.75rem;
    }
    &--content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      text-justify: inter-word;
    }
    h3,
    h4,
    p,
    li {
      font-family: inherit;
    }

    h3 {
      font-size: 20px;
      margin-bottom: 10px;
      justify-self: center;
    }

    ul {
      list-style: none;
      padding-left: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      @include m.desktop{
        flex-direction: row;
        flex-wrap: wrap;

      }
    }

    li {
      background-color: white;
      background-image: url("../../assets/images/brown_ice_by_darkwood67.jpg");
      background-position: center;
      background-repeat: none;
      width: 18.75rem;
      height: 16rem;
      overflow: hidden;
      padding: 1rem;
      border-radius: 0.25rem;
      margin-bottom: 30px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
      transition: transform 0.3s ease, box-shadow 0.5s ease;
      position: relative;
      @include m.tablet-plus{
        width: 22rem;

      }
      p {
        color: #888;
        font-size: 0.9rem;
      }
      h3{
        font-size: 24px;
        margin:0px;
        color: black;
        text-decoration: none;
        padding-bottom: 0.5rem;
        &:hover,
        &:active,
        &:visited {
            text-decoration: none;
            color: inherit;
        }
        &::first-letter {
          font-size: 40px;
          font-family: 'book';
        }
      }
      h4 {
        color: #888;
        margin: 0;
      }
      &:hover {
        transform: translateY(-4px);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
      }

      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100px;
        background: linear-gradient(transparent, white);
      }
    }
  }
}
