@use "../../styles/partials/colors" as c;
@use "../../styles/partials/mixins" as m;

.story-starter {
  padding: 20px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  

  &-form {
    display: flex;
    flex-direction: column;
    gap: 10px;

    label {
      display: block;
      font-weight: bold;
      margin-bottom: .3125rem;
      font-size: 1rem;
      color: #333;
    }

    textarea {
      width: 100%;
      padding: 10px;
      background-color: #fff;
      color: #333;
      font-size: 1rem;
      border: 1px solid #ddd;
      border-radius: 7px;
      box-shadow: 0 3px 8px rgba(0, 0, 0, 0.06);
      transition: box-shadow 0.3s, transform 0.3s;
      resize: none;

      &:focus {
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        transform: translateY(-3px);
        outline: none;
        border: 1px solid #aaa;
      }
    }

    button {
      background-color: #bfccda;
      color: #333;
      font-weight: 600;
      border: none;
      padding: 10px 20px;
      border-radius: 5px;
      cursor: pointer;
      font-size: 16px;
      transition: background-color 0.3s ease;
      @include m.button-shadow;
      &:hover {
        background-color: #e7e2d7;
      }
    }
  }

  &__heading {
    h3 {
      font-size: 1.5rem;
      margin-bottom: 5px;
      color: #333;
    }

    p {
      font-weight: 600;
      margin-bottom: .625rem;
      font-family: 'exo',sans-serif ;
      font-size: 1rem;
      margin-bottom: 2rem;
      color: #838080;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    
    p{
      font-family: 'exo',sans-serif ;
      font-size: 1rem;
      margin-bottom: 0;
    }
    &--toggler {
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin-bottom: 20px;

      button {
        background-color: c.$innerAccentColor;
        font-family: 'exo',sans-serif ;
        font-weight: 560;
        width: 50%;
        border: none;
        padding: 8px 16px;
        margin: 0.5rem;
        margin-top: 0;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

        &:hover {
          background-color: c.$outerAccentColor;
        }
      }
    }

    &--content {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      h3 {
        font-size: 1.25rem;
        color: #333;
        margin-bottom: 0;
      }

      ul {
        list-style: none;
        padding-left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;

        li {
          background-color: white;
          font-size: 1rem;
          width: 19rem;
          padding: 1rem;
          border-radius: 7px;
          box-shadow: 0 3px 8px rgba(0, 0, 0, 0.06);
          transition: box-shadow 0.3s, transform 0.3s;

          &:hover {
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
            transform: translateY(-3px);
          }
        }
      }
    }
  }
}
