.storywriter {

  &-add,
  &-pear {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 1rem;

      h2 {
          font-size: 1.5rem;
          margin-bottom: 0.5rem;
      }

      h4 {
          font-size: 1rem;
          margin-bottom: 1rem;
          color: #777;
      }

      p, .storyInputes-prevStory, textarea {
          width: 18.75rem;
          padding: 1rem;
          background-color: white;
          margin: 0;
          border: none;
          resize: none;
          box-shadow: none;
      }
      
      p, .storyInputes-prevStory {
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
      }

      textarea {
          height: 40rem;
          margin-top: -1px; 
      }

      input {
          width: 18.75rem;
          padding: 1rem;
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
          border: none;
          margin: 0.5rem 0;
          background-color: white;
          transition: box-shadow 0.3s;

          &::placeholder {
              color: #aaa;
          }
      }

      select {
          width: 18.75rem;
          padding: 1rem;
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
          border: none;
          resize: none;
      }

      &__storyInputs {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
      }
  }

  input:focus,
  textarea:focus {
      box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.7);
      outline: none;
  }
}
