@use "../../styles/partials/colors" as c;
@use "../../styles/partials/mixins" as m;


.header {
    box-sizing: border-box;

    @include m.mobile{
        margin-left: 1rem;
        margin-right: 1rem;

    }
    @include m.flex(center, center, row);
    height: 7rem;
    width: 100%;
    box-sizing: border-box;
    background: radial-gradient(circle at center, #f4f3f0 , #cfc2a5);
    
    position: relative; 
    &__logo-container {
        display: flex;
        justify-content: center; 
        align-items: center;
        width: 100%;
        height: 100%;
    }
    .logo {
        z-index: 3;
        height: auto;
        padding: 1rem;
        border-radius: 50%;
        box-shadow: 0 4px 8px rgba(0,0,0,0.1);
        background-color: white;
        box-sizing: border-box; 
    }


}


// @mixin tablet-plus {
//   @media (min-width: 48rem) {
//     @content;
//   }
// }

// 
// @mixin tablet {
//   @media (min-width: 48rem) and (max-width: 79.9375rem) {
//     @content;
//   }
// }
// @mixin desktop {
//   @media (min-width: 80rem) {
//     @content;
//   }
// }