@use "../../styles/partials/colors" as c;
@use "../../styles/partials/mixins" as m;


.header{
    @include m.flex(center, center, row);
    height: 7rem;
    width:auto;
    background: radial-gradient(circle at center, #f4f3f0 , #cfc2a5);
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}