.header{
    height: 7rem;
    width:auto;
    background: radial-gradient(circle at center, #f4f3f0 , #cfc2a5);
    display: flex;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}