@use "../../styles/partials/colors" as *;

.site{
    &__content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 1rem;
        border-radius: .25rem;
        border: .0625rem gray solid;
        background-color: $secondaryBackground;
        border-radius: .35rem;
        font-size: 1.5rem;
    }
}