.storywriter{
    border: burlywood 4px solid;
    background-color: beige;
&__thread{
    p{
        background-color: aliceblue;
    }

}
&__add{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border: black 2px solid;
    height: 20rem;
    &__form{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
}
}