.storywriter{
    border: burlywood 4px solid;
    background-color: beige; 
    &-add,
    &-empty{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 1rem;
        textarea{
            width:18.75rem;
            height:40rem;
            padding: 1rem;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
            border: none;

        }
    }
}