
.story{
 background-image: url('../../assets/icons/1665403462pear-tree.png');
&-list{
   cursor: pointer;
    list-style-type: none;
    &__item{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        p{
            margin-right: 1rem;
        }
    }
}

}
