.sign-in-profile {
    width: 30rem;
    display: flex;
    flex-direction: column;
  
    &__heading {
      text-align: center;
      margin-bottom: 20px;
    }
  
    &__form-wrapper {
      display: flex;
      justify-content: center;
      flex-direction: column;
      
      &--options{
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 30%; 
    
      }
      &__form {
        display: flex;
        flex-direction: column;
        width: 400px;
  
        label {
          font-weight: bold;
          margin-bottom: 5px;
        }
  
        input[type="text"],
        input[type="password"],
        input[type="email"],
        textarea {
          padding: 10px;
          margin-bottom: 10px;
          border: 1px solid #ccc;
          border-radius: 4px; 
          font-family: inherit;
          font-size: .9rem;
          resize: none;
          ::placeholder {
            color: #999;
          }
           &:focus {
            outline: none;
            border: 1px solid darken(#ddd, 5%);
            box-shadow: inset 0 0 0.5rem darken(#ddd, 5%);
          }
        }
  
        button {
          padding: .625rem;
          margin: 1rem;
          border: none;
          border-radius: .25rem;
        
          font-weight: bold;
          color: white;
      
          background-color: #c4c3a7;
          cursor: pointer;
          transition: background-color 0.5s, color 1s;
        
          &:hover,
          &:focus {
            background: rgb(238, 174, 202);
            background: linear-gradient(
              90deg,
              rgba(138, 217, 223, 1) 21%,
              rgba(250, 236, 123, 0.20772058823529416) 55%,
              rgba(224, 200, 150, 1) 72%
            );
            color: gray;
          }
        }
  
        .form__count{
          position: relative;
  
          &-num{
            position: absolute;
            right:.5rem;
            bottom: -0.5em;
            font-size: 0.7rem;
  
            &--warning{
              color: lightpink;
              font-weight: bold;
            }
          }
        }
  
        .form__button{
          margin-top: 1rem;
        }
  
        .input-container {
          display: flex;
          align-items: center;
        }
       
        .create-profile__form-field {
          display: flex;
          flex-direction: column;
          margin-bottom: 15px;
  
          &--error {
            .input {
              outline:  rgb(132, 170, 201) 2px solid; // Will change to exact colour later. 
            }
          }
        }
  
        .create-profile__label {
          font-weight: bold;
          margin-bottom: 5px;
        }
  
        .input {
          padding: 10px;
          margin-bottom: 10px;
          border: 1px solid #ccc;
          border-radius: 4px;
          font-family: inherit;
          font-size: 0.9rem;
          resize: none;
  
          &--error {
            outline: rgb(132, 170, 201) 2px solid; // Will change to exact colour later. 
          }
  
          &:focus {
            outline: none;
            border: 1px solid darken(#ddd, 5%);
            box-shadow: inset 0 0 0.5rem darken(#ddd, 5%);
          }
        }
      }
    }
  }
  .options __login-btn{
    height: 2rem;
    border: red 2px solid;
    .icon{
      width: 20px;
      height: 20px;
    }
  }

  .options__login-btn{
    height: 40px;
    img{
width: 30px;
height: 30px;
    }
  }
  .facebook{
    background-color: rgb(58, 122, 182);
  }
  .google{
    background-color: rgb(182, 87, 58);
  }
  .github{
    background-color: rgb(99, 93, 91);

  }