.avatar {
    &__image-med {
      width: 2rem;
      height: 2rem;
    }
  
    &__image-sm {
      width: 1rem;
      height: 1rem;
    }
    &__image-bg {
        width: 4rem;
        height: 4rem;
      }
  }