body {
  body{
    margin:0;
    padding: 0;
     /* background: radial-gradient(circle at center, #f5e5d1 , #bfbfbf)
    background: radial-gradient(circle at center, #f4f3f0 , #cfc2a5)
     https://mdigi.tools/gradient-generator/ */
};
}