@use "../src/styles/partials/typography" as *;
@use "../src/styles/partials/colors" as *;
@use "../src/styles/partials/mixins" as *;


body {
  font-family: 'open', sans-serif;   
  margin:0;
  padding: 0;
  background-color:$primaryBackground ;
}

