@use "../../styles/partials/typography" as t;
@use "../../styles/partials/colors" as c;
@use "../../styles/partials/mixins" as m;


.emotions-filter {
  display: flex;
  flex-wrap: wrap; 
  justify-content: center; 
  align-items: center;  
  margin-top: 2rem;
    button {
      background-color: c.$innerAccentColor;
      font-family: 'exo',sans-serif ;
      font-weight: 560;
      border: none;
      padding: 8px 16px;
      margin: 0.5rem;
      border-radius: 3px;
      width: 6.5rem;
      height: 3.125rem;
      cursor: pointer;
      transition: background-color 0.3s ease;
      @include m.mobile{
         padding: 8px 8px; 
        font-size: 0.8rem; 
      }
      &:hover {
        background-color: c.$outerAccentColor;
      }
    }
  
    .active {
      background-color: c.$outerAccentColor;
  
      &:hover {
        background-color: c.$outerAccentColor;
      }
    }
  }
