@use "../../styles/partials/mixins" as *;
@mixin tablet-plus {
  @media (min-width: 48rem) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: 16.6875rem) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: 48rem) and (max-width: 79.9375rem) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 80rem) {
    @content;
  }
}

// Nav styles
.nav {
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  width: 100%;
  padding: 1rem; 
  margin: 1rem;

  &-list {
    height: 2rem;
    list-style: none;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;

    li {
      margin-left: 1rem;
      padding: 0.5rem 1rem;
      text-decoration: none;
      cursor: pointer;

      a {
        text-decoration: none;
        color: #333; 
      }
    }
  }

  &-user {
    display: flex;
    align-items: center;
    justify-content: center;

    &__info {
      display: flex;
      justify-content: center;
      align-items: center;
 
      &-avatar {
        margin-left: 10px;
      }

      &-logout {
        font-size: 0.8rem;
        color: #888; 
        cursor: pointer;
      }
    }
  }
}